.contenedorEtapaUno{
   width: 100%;
}

.etapaUno{
    justify-content: center;
    align-items: center;
}

.contenedorImagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    text-align: center;
    color: #0e5090;
}

.generos{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 3%;
 }
 .imgGenero{
     width:150px;
     height:150px;
     cursor: pointer;
     border-radius: 25px;
 }

 @media(max-width: 500px){
     .imgGenero{
         width: 100px;
         height: 100px;
     }
 }
 
 .imgGenero:hover{
    background: whitesmoke;
}


 .notificacionGenero{
     text-align: center;
     color: #0e5090 ;
 }

 .notificacion{
     text-align: center;
     color: red; 
    
 }

 .contenedorBtnDatos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
 }

 .btnDatos{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 200px;
    color: white;
    background: #fe6d1a;
    border-radius: 22px;
    box-shadow: 2px 2px 2px #121212;
 }

